
.alignement {
    padding: 0px 1em !important;
    
}

.description {
    margin: auto !important;
    
}
.categorylist {
   
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
} 

.categorylist img {
    margin:auto;

}

.mentions {

    height: 70vh;
    
}

/* .headerimg {
    width: auto;
    height: 1px;
} */

.retour span {
    /* text-decoration-none m-2 */
    text-decoration: none;
    background-color: aqua;
}