{% extends 'base.html.twig' %}

{# {% block title %}Hello MentionsLegalesController!{% endblock %} #}

{% block body %}
<div class="container mr-3">
    <h1>Mentions légales</h1>
                <p>
                Les présentes conditions générales ont pour objet de définir les modalités de mise à disposition des services du site www.Strategy.com, ci-après nommé “le service” et les conditions d’utilisation du service par l’utilisateur.</p>
                <p>
                Tout accès et/ou utilisation du site www.Strategy.com suppose l’acceptation et le respect de l’ensemble des termes des présentes conditions et leur acceptation inconditionnelle. Elles constituent donc un contrat entre Strategy.com et l’utilisateur.</p>
                <p>
                Dans le cas où l’utilisateur ne souhaite pas accepter tout ou partie des présentes conditions générales, il lui est demandé de renoncer à tout usage du service.</p>
                <p>
                Le site www.Strategy.com est édité et hébergé par :
                LysyCom</p>
                <p>
                SAS au capital de 10 069 020 €
                RCS PARIS 424 761 419 00045
                Code APE 2620Z
                N° TVA : FR 22 424 761 419
                Siège social : dans le département de l’Essonne Grigny</p>
                <h4>Accès au service</h4>
                <p>
                Le service est accessible gratuitement à tout utilisateur disposant d’un accès à Internet. Tous les coûts afférents à l’accès au service, que ce soient les frais matériels, logiciels ou d’accès à Internet sont exclusivement à la charge de l’utilisateur. Il est seul responsable du bon fonctionnement de son équipement informatique ainsi que de son accès à Internet.</p>
                <p>
                Strategy.com met en œuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité au service, mais n’est tenu à aucune obligation d’y parvenir.</p>
                <p>
                Strategy.com ne peut, en outre, être tenu responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait l’accès au service.</p>
</div>
{% endblock %}
