
<!--sidebar-->
<div class="p-5 mt-4 text-center">
<br>
    <h2 class="fst-italic text-black mb-4">Categories</h2>
        <ol class="list-unstyled nav flex-column">
        {% for category in categories %}
        <li class="nav-item fs-3 mb-4 text-center">
    <a class="nav-link active text-white btn btn-secondary" href="{{ path ('category_show', { slug: category.slug }) }}">{{category.name}}</a>
  </li>
        {% endfor %}
        </ol>


      
</div>



