
<!--sidebar-->
<div class="p-4 mt-4 border">
<br>
    <h2 class="fst-italic text-black mb-4">Categories</h2>
        <ol class="list-unstyled">
        {% for category in categories %}
        
            <li class="fs-3 mb-3">
            <a style='color:{{category.color}};' class="text-decoration-none" href="{{ path ('category_show', { slug: category.slug }) }}">{{category.name}}</a>
            </li>
        {% endfor %}
        </ol>
        
</div>



